<title>Here are your results</title>

<h1>Schnucker 1: <%= @schnucker1 %></h1>
<h2>Points: <%= @schnucker1_total %></h2>
Total hits: <%= @schnucker1_hits_total %>
<br>
Total at bats: <%= @schnucker1_ab_total %>
<br>
Batting Average: <%= sprintf("%.3f",@schnucker1_ba)[-4,4] %>
<br>
Runs: <%= @schnucker1_runs_total %>
<br>
Home Runs: <%= @schnucker1_hr_total %>
<br>
RBI: <%= @schnucker1_rbi_total %>
<br>
Stolen Bases: <%= @schnucker1_sb_total %>
<br>
Innings Pitched: <%= @schnucker1_ip_total %><br>
Earned Runs: <%= @schnucker1_er_total %><br>
Hits: <%= @schnucker1_h_total %>
Walks: <%= @schnucker1_bb_total %><br>
Strikeouts: <%= @schnucker1_k_total %><br>
ERA: <%= @schnucker1_era %>
WHIP: <%= @schnucker1_whip.to_s[0,4] %><br>
W: <%= @schnucker1_w_total %>
L: <%= @schnucker1_l_total %>
SV: <%= @schnucker1_sv_total %>
<hr>
<h1>Schnucker 2: <%= @schnucker2 %></h1>
<h2>Points: <%= @schnucker2_total %></h2>
Total hits: <%= @schnucker2_hits_total %>
<br>
Total at bats: <%= @schnucker2_ab_total %>
<br>
Batting Average: <%= sprintf("%.3f",@schnucker2_ba)[-4,4] %>
<br>
Runs: <%= @schnucker2_runs_total %>
<br>
Home Runs: <%= @schnucker2_hr_total %>
<br>
RBI: <%= @schnucker2_rbi_total %>
<br>
Stolen Bases: <%= @schnucker2_sb_total %>
<br>
Innings Pitched: <%= @schnucker2_ip_total %><br>
Earned Runs: <%= @schnucker2_er_total %><br>
Hits: <%= @schnucker2_h_total %>
Walks: <%= @schnucker2_bb_total %><br>
Strikeouts: <%= @schnucker2_k_total %><br>
ERA: <%= @schnucker2_era.to_s[0,4] %>
WHIP: <%= @schnucker2_whip.to_s[0,4] %><br>
W: <%= @schnucker2_w_total %>
L: <%= @schnucker2_l_total %>
SV: <%= @schnucker2_sv_total %>

<%= form_tag("confirm", :method => "post") do %>



 <%= submit_tag("Send Email") %>
    
  <% end %>
  

  
  
