   
<h1 style='text-align: center;'>Let's play Schnucks!</h1>
<h2 style='text-align: center;'>Who's playing?</h2>


<!-- Choosing between 2 and 3 players
<script language="javascript">
            var x = 2;

            function playa(x) {
                if(x == 2) {
                    document.getElementById("playa3").style.visibility="hidden";
                }

                if(x == 3) {
                    document.getElementById("playa3").style.visibility="visible";
                }

            }
</script> 
                 

<h2>How many Schnuckers?</h2><br />
<input type="radio" name="numberofplayers" onclick="playa(2)" value="two" /> 2<br />
<input type="radio" name="numberofplayers" onclick="playa(3)" value="three" /> 3 <br />
-->
 

<%= form_for("schnuckers", :url => "../play/create", :html => { :class => "form" } ) do |f| %>
 <div class="row">
    <div class="span5 offset">...</div>
      <div class="span2">       
        <div class="controls">
          <%= label_tag(:p1, "Schnucker 1:") %>
          <%= collection_select(:p1, :name, User.all, :name, :name) %>
          <%= label_tag(:p2, "Schnucker 2:") %>
          <%= collection_select(:p2, :name, User.all, :name, :name) %>
        </div>
        <button type="submit" class="btn">Submit</button>
      </div>
  </div>


<!--/fieldset-->

<!-- More from 2 vs. 3 
<div id="playa3" style="visibility:hidden">
  <%= label_tag(:p3, "Schnucker 3:") %>
  <%= text_field_tag(:p3) %>
</div>   -->

  
<% end %>
