<h2><%= @team_name1 %>'s Team</h2>
<table><% @hitters_team1.each do |h|%>
  <tr><td><%= h.name %></td>
    <td><%= h.position %></td>
    </tr>
  <% end %>
</table>



<% positions = ["C", "1B", "2B", "SS", "3B", "OF1", "OF2", "OF3", "UT"] %>

<h2>Draft your players!</h2>

<h3>Hitters</h3>
<table><% @hitters_available.each do |h|%>
  <tr><td><%= h.name %></td>
    <td><select name="position_desired">
        <% positions.each do |p| %>
        <option><%= p %></option>
        <% end %>
        </select></td>
    <td><%= button_to "Choose", play_add_path(hitter_id: h)%></td></tr>
  <% end %>
</table>





<h3>Pitchers</h3>


<h2><%= @team_name2 %>'s Team</h2>
<table><% @hitters_team2.each do |h|%>
  <tr><td><%= h.name %></td>
    <td><%= h.position %></td>
    </tr>
  <% end %>
</table>
  

