<title>Schnucks | Edit Stuff here</title>
<h1>EDIT</h1>


  
    <%= form_for(@user) do |f| %>

      <%= @user.name %>
      

      <%= f.label :wins %>
      <%= f.text_field :wins %>

      <%= f.label :total_points %>
      <%= f.text_field :total_points %>

      <%= f.submit "Edit my account" %>
    <% end %>