<h2>SCHNUCKS CURRENT OFFICIAL STANDINGS</h2>

<div class="row">
    <div class="span2"></div>
    <div class="span8">

      <table class="table table-hover" >
        <thead>
          <th>Name</th>
          <th>Wins</th>
          <th>Total Points</th>
          <th class="span1">Rocks</th>
          <th class="span1">Papers</th>
          <th class="span1">Scissorses</th>
          <th>Roshambo Wins</th>
        </thead>
      <% @users_ranked.each do |u| %>
        <tr style="text-align: center;">
          <td class="table-left"><%= u.name %></td>
          <td><%= u.wins %></td>
          <td><%= u.total_points %></td>
          <td class="span1"><%= u.rocks %></td>
          <td class="span1"><%= u.papers %></td>
          <td class="span1"><%= u.scissorses %></td>
          <td><%= u.rps_wins %></td>
        </tr>
      <% end %>
      </table>
      </div>
  <div class="span2"></div>
</div>