<title>Hi, <%=@user.name%></title>
<h1>
        <%= @user.name %>
</h1>
Schnuck Wins: <%= @user.wins %>
<br />
Total Schnuck Points: <%= @user.total_points %>
<br />
RockPaperScissors Wins: <%= @user.rps_wins %>
<br />
Rocks: <%= @user.rocks %>
<br />
Paper: <%= @user.papers %>
<br />
Scissors: <%= @user.scissorses %> 

